.otherExtention{
	display: none;
}
#viewMore, #selectAll {
    text-decoration: none;
}
.domainTab{
	margin-top: 20px;
}
.domainTab li a{
	font-size: 18px;
}
.domain_search{
	font-size: 18px;
	padding: 15px 0 15px 15px;
	height: auto !important;
	-webkit-border-radius: 4px 0 4px 0;
	-moz-border-radius: 4px 0 4px 0;
	border-radius: 4px 0 0 4px;
	-webkit-box-shadow: 0 0 1px 1px #e5e5e5;
	-moz-box-shadow: 0 0 1px 1px #e5e5e5;
	box-shadow: 0 0 1px 1px #e5e5e5;
}
#domain_search:focus {
    -webkit-box-shadow: 0 0 1px 1px #e5e5e5;
	-moz-box-shadow: 0 0 1px 1px #e5e5e5;
	box-shadow: 0 0 1px 1px #e5e5e5;
    border-color: rgb(204, 204, 204);
}
.check_domain, .btnSelectDomain {
    background: #2fbe15;
    border: 1px solid #18900b;
    height: 57px;
    cursor: pointer;
    font-size: 18px;
    color: #fff;
    margin: 0 0 0 -4px;
}
.check_domain:hover, .btnSelectDomain:hover, .check_domain:focus, .btnSelectDomain:focus {
    background: #34c918 !important;
     color: #fff !important;
}

.serchBtnWrap{
	margin-bottom: 15px;
	-webkit-box-shadow: 0 0 0px 5px #f2f2f2;
	-moz-box-shadow: 0 0 0px 5px #f2f2f2;
	box-shadow: 0px 0px 0px 5px #f2f2f2;
	border-radius: 2px;
}
.popularExtention ul li, .otherExtention ul li {
    float: left;
    word-wrap: break-word;
    margin-right: 10px;
}
.popularExtention ul, .otherExtention ul {
    padding: 0;
    list-style: none;
    display: inline-block;
    width: 100%;
}
#selectAll {
    margin-right: 10px;
}
.greenText {
    color: #2fbe16;
}
.redText {
    color: red;
}

.domainListBox h3 {
    margin: 0;
    vertical-align: initial;
    font-size: 20px;
}
.domainListBox::nth-child(2){
	 border-top-right-radius: 4px;
	  border-top-left-radius : 4px;
}
.domainListBox:last-child{
	 border-bottom-right-radius: 4px;
	  border-bottom-left-radius : 4px;
	  margin-bottom: 40px;
	  border-bottom: 2px solid #ccc;
}
.domainListBox {
    border-top: 2px solid #ccc;
    border-bottom: 0px solid #ccc;
    border-left: 2px solid #ccc;
    border-right: 2px solid #ccc;
    padding: 20px;
   /* overflow: hidden;*/
}
.domainListBox.greenBorder {
    border: 2px solid #2fbe16;
     margin: 40px 0;
     border-radius: 4px;
}
.domainListBox.redBorder {
    border: 2px solid red;
     margin: 40px 0;
     border-radius: 4px;
}

.domainListBox h3.domainPrice{
	margin-top: 12px !important;
}
.domainNameWrap {
    /*padding-left: 50px;*/
}
.domainNameWrap.available{
    background: url('../imgs/trueFalse.png');
    background-repeat: repeat;
    background-position-x: 0%;
    background-position-y: 0%;
    background-repeat: no-repeat;
    background-position: 0px -40px;
    padding-left: 50px;
}
.domainNameWrap.unavailable{
	background: url('../imgs/trueFalse.png');
    background-repeat: repeat;
    background-position-x: 0%;
    background-position-y: 0%;
    background-repeat: no-repeat;
    background-position: 0px 9px;
    padding-left: 50px;
}
.btnSelectDomain {
    padding: 5px 20px !important;/*9px 37px !important;*/
    border-radius: 50px;
    height: 40px;
    margin-top: 5px;
}
.domainListBox.greenBorder h3 {
    font-size: 24px;
}
.domainName{
	margin-top:12px;
}

/*************DropDown*************/
.custom-select {
  position: relative;
  width: 100px;
  margin-top: 7px;
}
.custom-select select {
  /*display: none; hide original SELECT element:*/
}
.select-selected {
  background-color: #fff;
}
/*style the arrow inside the select element:*/
.select-selected:after {
  position: absolute;
  content: "";
  top: 14px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #404040 transparent transparent transparent;
}
/*point the arrow upwards when the select box is open (active):*/
.select-selected.select-arrow-active:after {
  border-color: transparent transparent #404040 transparent;
  top: 7px;
}
/*style the items (options), including the selected item:*/
.select-items div,.select-selected {
  color: #404040;
  padding: 8px 16px;
  border: 1px solid transparent;
/*  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;*/
border: 1px solid #eee;
  cursor: pointer;
  user-select: none;
}
/*style items (options):*/
.select-items {
  position: absolute;
  background-color: #fff;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
}
/*hide the items when the select box is closed:*/
.select-hide {
  display: none;
}
.select-items div:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
#basic-addon1 {
    padding-top: 12px;
    padding-bottom: 0;
}
.transferDomain label{
	font-size: 16px;
}
.popularExtention ul li:nth-child(7n+1) {
    clear: both;
}

.error {
color: red;
font-size: 13px;
font-weight: normal;
}
/********************************************/